<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recordlar</title>
</head>
<body>
<h1>{{record.student }} >>>>>>>>>> {{record.kitob}}</h1>
    <a href="/home/" class="button">Bosh sahifa</a>
    <a href="/recordlar/" class="button">recordlar</a>
<hr>
    <p class="malumot">•> Student: {{record.student}}</p>
    <p class="malumot">•> Kitob: {{record.kitob }}</p>
    <p class="malumot">•> Kutubxonachi : {{record.kutubxonachi}}</p>
    <p class="malumot">•> Olingan sanasi : {{record.olingan_sana}}</p>
    <p class="malumot">•> Qaytarilgan  sanasi : {{record.qaytargan_sana}}</p>
    <p class="malumot">•> Qaytaridi : {{record.qaytardi}}</p>

</body>
</html>