<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muallif ma'lumotlari</title>
</head>
<body>
    <h1>{{muallif.ism}} ma'lumotlari</h1>
    <a href="/" class="button">Bosh sahifa</a>
    <a href="/mualliflar/"  class="button">Mualliflar</a>
    <hr>
    <p class="malumot">•> Jinsi: {{muallif.jins}}</p>
    <p class="malumot">•> Tugilgan sanasi: {{muallif.t_sana}}</p>
    <p class="malumot">•> Kitoblar soni : {{muallif.kitob_soni}}</p>
    <p class="malumot">•>  o'lgan yoki tirik: {{muallif.tirik}}</p>
</body>
</html>